.comments {clear: both;margin-top: 10px;margin-bottom: 0;padding:20px}
.comments .comments-content { font-size:12px; margin-bottom:16px; font-weight:normal; text-align:left; line-height:1.4em; }
.comments .comment .comment-actions a {display: inline-block;margin: 0;padding: 1px 6px;text-align: center;text-decoration: none;font: 11px/18px Open Sans;padding: 2px 8px;margin-right: 10px;background: #D35400;color: #FFF;}
.comments .comments-content .comment-thread ol { list-style-type:none; padding:0; text-align:none; }
.comments .comments-content .inline-thread { padding:0.5em 1em; }
.comments .comments-content .comment-thread { margin:8px 0; }
.comments .comments-content .comment-thread:empty { display:none; }
.comments .comments-content .comment-replies { margin-top:1em; margin-left:40px; font-size:12px; background:#f6f6f6; }
.comments .comments-content .comment { margin-bottom:16px; padding-bottom:8px; }
.comments .comments-content .comment:first-child { padding-top:16px; }
.comments .comments-content .comment:last-child { border-bottom:0; padding-bottom:0; }
.comments .comments-content .comment-body { position:relative; }
.comments .comments-content .user { font-style:normal; font-weight:bold; }
.comments .comments-content .user a {font-size: 14px;text-decoration: none;color: #FFF;}
.comments .comments-content .icon.blog-author { width:18px; height:18px; display:inline-block; margin:0 0 -4px 6px; }
.comments .comments-content .datetime { color:#999999; float:right; font-size:11px; text-decoration:none; }
.comments .comments-content,.comments .comments-content .comment-content { margin:0 0 8px; }
.comment-header { background-color:#F4F4F4; border:thin solid #E6E6E6; margin-bottom:5px; padding:5px; }
.comments .comments-content .comment-content { text-align:none; }
.comments .comments-content .owner-actions { position:absolute; right:0; top:0; }
.comments .comments-replybox { border:none; height:250px; width:100%; }
.comments .comment-replybox-single { margin-top:5px; margin-left:48px; }
.comments .comment-replybox-thread { margin-top:5px; }
.comments .comments-content .loadmore a { display:block; padding:10px 16px; text-align:center; }
.comments .thread-toggle { cursor:pointer; display:inline-block; }
.comments .continue { cursor:pointer; }
.comments .continue a {display: inline-block;margin: 0;padding: 1px 6px;text-align: center;text-decoration: none;font: 11px/18px open sans;padding: 2px 8px;margin-right: 10px;background: #D35400;color: #FFF;}
.comments .comments-content .loadmore { cursor:pointer; max-height:3em; margin-top:3em; }
.comments .comments-content .loadmore.loaded { max-height:0; opacity:0; overflow:hidden; }
.comments .thread-chrome.thread-collapsed { display:none; }
.comments .thread-toggle { display:inline-block; }
.comments .thread-toggle .thread-arrow { display:inline-block; height:6px; width:7px; overflow:visible; margin:0.3em; padding-right:4px; }
.comments .thread-expanded .thread-arrow { background:url(http://4.bp.blogspot.com/-fhTZlJkFnPc/UQezZ0aM1ZI/AAAAAAAABcY/v1vUibnXaKc/s1600/arrow-down.png) no-repeat scroll 0 0 transparent; }
.comments .thread-collapsed .thread-arrow { background:url(http://4.bp.blogspot.com/-WwOfybPl9ig/UQezafv_uNI/AAAAAAAABcg/uLkQHEqKKBM/s1600/arrow-right.png) no-repeat scroll 0 0 transparent; }
.comments .avatar-image-container {float: left;width: 36px;max-height: 36px;margin: 0;padding: 3px;vertical-align: middle;overflow: hidden;}
.comments .avatar-image-container img { width:36px; }
.comments .comment-block { margin-left:48px; position:relative; }